/* CSS Document */
body{
	padding: 0;
	margin: 0;
	width: auto;
	overflow-x: hidden;
	}
.home{
	background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../images/main.jpg);
	background-size: cover;
	background-position:center;
	background-attachment:fixed;
	height: auto;
	min-height: 100vh;
	width: auto;
	}
.home img{
	margin-top: 250px;
	width: auto;
	max-width: 500px;
	}
.home h1{
	font-family: "游明朝","Yu Mincho";
	font-size: 30px;
	
	}

#about{
	min-height: 100vh;
	height: auto;
	width: auto;
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/about.jpg);
	background-size: cover;
	background-position:center;
	background-attachment:fixed;
	font-family: "游明朝","Yu Mincho";
	color: white;
	text-align: justify;
	}
#about h2, p2{
	margin-top: 100px;	
	}	
	
#about img{
	margin-left: 100px;	
	margin-top: 180px;
	max-width: 200px;
	}
.contact{
	background-color: #F4F4F4;
	background-size: cover;
	background-position:center;
	background-attachment:fixed;
	min-height: 100vh;
	height: auto;
	width: auto;
	}
.contact iframe{
	width: 350px;
	height: 350px;
	margin-left: 90px;
	
	}
.login{
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/login.jpg);
	background-size: cover;
	background-position:center;
	background-attachment:fixed;
	min-height: 100vh;
	height: auto;
	width: auto;
	}
.form-group{
	font-size: 15px;
	
	
	}
.form-signin {
	  max-width: 400px;
	  padding: 30px 60px 45px;
	  background-color: rgba(255,255,255,0.32);
	  border: 1px solid rgba(0,0,0,0.1);  
	  text-align:center;
	  margin: 150px auto;	
	}
.back-to-top { 
		background: none;
		margin: 0;
		position: fixed;
		bottom: 0;
		right: 0;
		width: 70px;
		height: 70px;
		z-index: 100;
		display: none;
		text-decoration: none;
		color: rgba(0,0,0,0.50);
		background-color: rgba(0,0,0,0.00);
}
 
.back-to-top i {
  		font-size: 40px;
}

#footer h5, p5{
	font-size: 15px;
	}

	
	@media only screen and (max-width: 768px) {
    /* For mobile phones: */
	body{
	overflow-x: hidden;
	
		}
   .home img{
	margin-top: 250px;
	width: auto;
	max-width: 300px;
	}
	.home h1{
	font-size: 20px;
	}
	#about img{
	margin: auto;
	margin-bottom: 80px;
	margin-top: 50px;
	}
	.contact iframe{
	width: 300px;
	height: 300px;
	margin:auto;
	margin-top: 30px;	
	margin-bottom: 30px;
	}
}


